.elementor-kit-33{--e-global-color-primary:#6EC1E4;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#61CE70;--e-global-color-5c5a4a66:#4054B2;--e-global-color-404cd055:#23A455;--e-global-color-5c4f7a21:#000;--e-global-color-56fe0999:#FFF;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}{}h1{display:var(--page-title-display);}.elementor-kit-33 e-page-transition{background-color:#FFBC7D;}.site-header{padding-right:0px;padding-left:0px;}@media(max-width:999px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:689px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */@media (max-width: 767px) {
    .elementor-kit-33 {
      box-sizing: border-box;
      height: auto !important;
      min-height: 0 !important;
      margin-bottom: 30px;
      padding: 20px;
    }
    .elementor-kit-33 ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
    .elementor-kit-33 li {
      display: block;
      float: none;
      margin: 0;
      padding: 0;
    }
    .elementor-kit-33 .elementor-editor-element-setting {
      display: none;
    }
    .elementor-kit-33 .elementor-editor-element-settings {
      display: none;
    }
  }/* End custom CSS */